<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To do List</title>
  </head>
  <body>
    
    <!-- <% if (kindOfDay === "Sunday"){ %>
      <h1 style="color: red;">It's a <%= kindOfDay %>!</h1>
    <% } else{ %>
      <h1 style="color: blue;">It's a <%= kindOfDay %>!</h1>
    <% } %> -->
    <h1>It's a <%= kindOfDay %>!</h1>
    <ul>
    <%  for (var i = 0; i < newLists.length; i++) { %>
        <li><%= newLists[i] %></li>
    <%  }  %>
    </ul>
    <div >
      <!-- this post the infromation to my rooe server -->
      <form action="/" method="post">
        <input type="text" name="newList">
        <button type="submit" name="button"> Add list</button>
      </form>
    </div>
  </body>
</html>
